<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Add custom classes and styles that you want inlined here */
    </style>
  </head>
  <body class="bg-light">
    <div class="container">
      <img
        alt="Revolt Logo"
        class="ax-center my-10 w-24"
        src="https://img.tlgame.co/mlogo.jpg"
      />
      <div class="card p-6 p-lg-10 space-y-4">
        <h1 class="h3 fw-700">账号删除</h1>
        <p>
          你正在申请删除你的梦乡账号, 如果此操作不是您执行的，请立即采取措施保护您的帐户。
        </p>
        <a class="btn btn-primary p-3 fw-700" href="{{url}}">Confirm</a>
      </div>
      <div class="text-muted text-center my-6">
          收件人{{email}}<br>
          由梦乡发送
      </div>
    </div>
  </body>
</html>
