<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Add custom classes and styles that you want inlined here */
    </style>
  </head>
  <body class="bg-light">
    <div class="container">
      <img
        class="ax-center my-10 w-24"
        src="https://img.tlgame.co/mlogo.jpg"
      />
      <div class="card p-6 p-lg-10 space-y-4">
        <h1 class="h3 fw-700">密码重置</h1>
        <p>你正在申请重置你的梦乡账号密码,点击下方按钮重置</p>
        <a class="btn btn-primary p-3 fw-700" href="{{url}}">Reset</a>
      </div>
      <div class="text-muted text-center my-6">
        收件人{{email}}<br>
        由梦乡发送
      </div>
    </div>
  </body>
</html>
